.btn-liner{
    background:  linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);

}
.primaryColour{
    color: #9873FF;
}
/* .heading{
    background-color: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
} */